html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-results-button, input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

a:hover, a:link, a:visited {
  text-decoration: none;
}

input,
button {
  outline: none !important;
  border: none;
}

i {
  outline: none;
}

.header {
  border-width: 5px !important;
}

.header__link {
  padding: 10px 5px;
  margin: 0 7.5px;
  background-color: #0772BA;
  width: 70px;
}

.header__link:hover {
  background-color: #07548A;
}

.header__link p {
  font-size: 14px;
}

.header .active {
  background-color: #07548A;
}

.carousel {
  background: url("../images/carousel.png");
  background-position: center;
  border-top: 0.5px solid #07548a;
  border-bottom: 0.5px solid #07548a;
  background-size: cover;
}

.carousel .d-flex {
  padding: 15px;
}

.carousel h3 {
  color: #257DBE;
}

.carousel ul {
  list-style-type: disc;
  margin-left: 30px;
}

.carousel ul li:last-child {
  list-style-type: none;
}

.carousel a {
  margin-left: -20px;
  margin-top: 20px;
  display: inline-block;
}

.whatDoesXLinkDo a {
  color: black;
  margin-bottom: 15px;
  font-size: 24px;
}

.whatDoesXLinkDo a:hover {
  text-decoration: underline;
}

.copyright {
  background-color: #0B70B8;
}

.support form, .support a {
  min-width: 300px;
  min-height: 80px;
  border: 2px solid #0d6efd;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
}

.support form label {
  margin-bottom: 15px;
}

.support form input {
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}

.products {
  background: url("../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
}

.products .product {
  border: 2px solid black;
  background-color: transparent;
  border-radius: 5px;
  padding: 15px;
  min-width: 500px;
  margin: 15px 0;
  min-height: 400px;
  width: 50%;
}

.products .product img {
  max-width: 250px;
}

.products .wrap {
  min-width: 155px;
}

.products ul {
  list-style-type: disc;
}

.store {
  padding: 30px 0;
}

.store h2 {
  margin-bottom: 30px;
}

.store .bottom {
  background-color: #0772BA;
  border-radius: 5px;
  padding: 10px 15px;
}

.store .bottom__left {
  border-right: 1px solid white;
}

.store .bottom__left p:nth-of-type(2) {
  font-size: 32px;
}

.store .bottom__right p {
  margin-right: 15px;
}

.store .bottom__left, .store .bottom__right {
  color: white;
  width: 49%;
}

.buyProducts__product {
  border: 2px solid #0d6efd;
  border-radius: 5px;
  padding: 15px;
  margin: 15px auto;
}

.buyProducts .price {
  padding: 15px;
  border: 1px solid #0d6efd;
}

.buyProducts .price .middle {
  border-left: 1px solid #0d6efd;
  border-right: 1px solid #0d6efd;
}

.buyProducts .price .left, .buyProducts .price .middle, .buyProducts .price .right {
  width: 33%;
  padding: 15px;
}

.buyProducts .buy__btn {
  border: 1px solid #0d6efd;
  margin-top: 15px;
  padding: 0 15px;
}

.animated__btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#07548A), color-stop(51%, #0d6efd), to(#07548A));
  background-image: linear-gradient(to right, #07548A 0%, #0d6efd 51%, #07548A);
  color: white;
  padding: 5px 30px;
  margin-top: 15px;
  background-size: 200% auto;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.animated__btn:hover {
  background-position: right center;
  color: white;
}
/*# sourceMappingURL=style.css.map */